
.Direct-Link .col-md-2 {
    margin-top: -4.2%;
    background-color: #6cae22;
    text-align: center;
    color: #fff;
    border-right: 2px dotted #fff;
    padding: 10px 0;
}
.section-start h4{
    font-weight: 500;
    font-size: 20px;
}
.btn {
    margin-top: 10px;
    background-color: #6cae22;
    color: white;
    padding: 10px 24px;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    line-height: auto;
    transition: all 0.3s ease 0s;
}
.section-start .heading-section ,.feature-wrap,.about-Rishikesh, .about-yogamaya ,.yogamaya-meditation
{
    padding: 30px;
    box-shadow: 0 2px 8px 0 rgb(103 151 255 / 9%), 0 4px 32px 0 rgb(103 151 255 / 9%);
    border: 1px solid rgba(0, 0, 0, .125);
    position: relative;
    z-index: 1;
    background: #fff;
}

#news-slider{
    margin-top: 80px;
}
h6{
    color: #333;
}
.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#3498db;
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
    margin-bottom:25px;
}
#news-slider .owl-nav {
    top: 50%;
    position: absolute;
    width: 100%;
}
#news-slider .owl-prev{
    width: 40px  !important;
height: 40px !important;
line-height: 40px !important;
color: #fff;
border-radius: 50%;
font-size: 25px;
text-align: center;
background-color: #6cae22;
position: absolute;


}
#news-slider .owl-next
{
width: 40px  !important;
height: 40px !important;
margin-left: 104%;
line-height: 40px !important;
color: #fff;
border-radius: 50%;
font-size: 27px;
text-align: center;
background-color: #6cae22;
position: absolute;

}
#news-slider .owl-prev {
    left: -60px;
    top: -30px;
}
#news-slider .owl-next {
    left: -60px;
    top: -30px;
}
.contact-form
{
    box-shadow: 0 2px 8px 0 rgb(103 151 255 / 9%), 0 4px 32px 0 rgb(103 151 255 / 9%);
}
.contact-form input[type=text], .select-dropdown{
    border-radius: 20px;
}
.contact-form ::placeholder
{
    color:#4c4c4c !important ;
}
    .btn {
        margin-top: 10px;
        background-color: #6cae22;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        letter-spacing: 1px;
        line-height: auto;
        transition: all 0.3s ease 0s;
    }
    .table{
    box-shadow: 0 2px 8px 0 rgb(103 151 255 / 9%), 0 4px 32px 0 rgb(103 151 255 / 9%);
}

    .td-bg {
        background-color: #6cae22 !important;
        color:#fff;
        text-align: center;
        font-weight: bold;

    }
    .td-th {
        font-weight: 500;
        background-color:  #6cae22 ;
    }
    .food-accommdation h3{
        font-size: 20px;
        font-weight: 500;
    }
    .Activity .card{
        text-align: center;
        box-shadow: 1px 1px 10px rgb(220, 220, 220);
    }
    .Activity .card img {
        height: 250px;
        width: 400px;
    }
    .Activity .card h5{
        font-size: 18px;
       font-weight: 500;
    }
    .importance-note h4{
        font-weight: 500 !important;
        font-size: 20px;
    }
    .ytt-courses .course-card{
        box-shadow: 1px 1px 10px rgb(220, 220, 220);
        padding: 10px;
    }
    .ytt-courses .course-card h4 {
        color: black;
        font-size: 20px;
        font-weight: 500;
    }
    .ytt-courses .course-card strong {
        color: black;
        font-weight: 500;
    }
    .btn {
        margin-top: 10px;
        background-color: #6cae22;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        letter-spacing: 1px;
        line-height: auto;
        transition: all 0.3s ease 0s;
    }