//monochromatic color scheme:

$color-primary: #b8b5ff;
$color-primary-light: #d0ceed;
$color-primary-medium: #605af2;
$color-primary-dark: #4035e6;

$color-light-grey-1: #fafafc;
$color-light-grey: #eeedf5;
$color-grey-dark: #545466;
$color-grey-dark-3: #14145e;

$color-white: #fff;
$color-black: #000;

//triad colors and their respective monochromatic colors:

$color-secondary-light: #ffb8b5;
$color-secondary-dark: #ed5e58;
$color-secondary-darker: #bf231d;

$color-tertiary-light: #b5ffb8;
$color-tertiary-dark: #018006;

//FONT

$default-font-size: 1.6rem;
