.footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	@include respond(tab-land) {
		grid-template-columns: 1fr;
	}

	background-color: $color-grey-dark-3;
	padding: 10rem 0;
	font-size: 1.4rem;
	color: $color-light-grey-1;

	@include respond(tab-port) {
		padding: 8rem 0;
	}

	&-logo {
		grid-column: 1 / -1;
		grid-row: 1 / 2;
		width: auto;
		height: auto;
		margin-bottom: 8rem;

		& img {
			width: 30rem;
		}
	}

	&-box {
		grid-column: 1 / 2;
		grid-row: 2 / 3;

		@include respond(tab-land) {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
	}

	&-list {
		list-style: none;
		display: flex;
		border-top: 1px solid $color-light-grey-1;
		padding-top: 2rem;
	}

	&-item {
		&:not(last-child) {
			margin-right: 1.5rem;
		}
	}

	&-link {
		&:link,
		&:visited {
			color: $color-light-grey-1;
			background-color: $color-grey-dark-3;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.2s;
		}
		&:hover,
		&:active {
			color: $color-primary;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
			//line below not working.
			transform: rotate(5deg) scale(1.3);
		}
	}

	&-copyright {
		grid-column: 2 / -1;
		grid-row: 2 / 3;
		@include respond(tab-land) {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
			text-align: center;
		}
		margin-top: 2rem;
		border-top: 1px solid $color-light-grey-1;
		padding-top: 2rem;
	}
}
